:root {
  --mainBackgroundColor: #f5f5f5;
  --white: #ffffff;
  --grey: #e6e6e6;
  --primaryColor: #9b6bde;
  --secondaryColor: #f7f4fd;
  --regularTextColor: #353535;
  --regularFontFamily: "RubikRegular";
  --boldFontFamily: "RubikBold";
  --mediumFontFamily: "RubikMedium";
  --semiBoldFontFamily: "RubikSemiBold";
}
